<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class='container'>
        <div class="list-container">
            <h1 class="main-title">Tarefas a serem feitas</h1>
            <ul>
                <% tarefas.forEach((tarefa)=>{ %>
                    <li class="<%= tarefa.concluida ? 'tarefa-concluida' : '' %>">
                        <div class="task-title">
                            <%= `Tarefa: ${tarefa.nome}, descrição: ${tarefa.descricao}` %> 
                        </div>
                       
                        <div class="task-buttons">

                            <form action="/toggle/<%=tarefa._id%>" method="POST" style="display: inline;">
                                <input type="checkbox" 
                                onchange="this.form.submit()"
                                <%= tarefa.concluida ? 'checked' : '' %>
                                >
                                
                            </form>


                            <form method="GET" action="/update/<%=tarefa._id%>" style="display: inline;">
                                <button class="edit-button">editar</button>
                            </form>

                            <form method="POST" action="/delete" style="display: inline;">
                                <input type="hidden" name="tarefa_id" value="<%= tarefa._id %>">
                                <button class="delete-button" type="submit">❌</button>
                            </form>
                        </div>
                        
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="form-container">
            <% if (errorMessage && errorMessage.length > 0){%>
                <div class="error-message">
                    <%= errorMessage[0]%>
                </div>     
            <% } %>
                
            <form method="POST" action="/">
                <input type="text" name="tarefa" placeholder="Nova Tarefa">
                <input type="text" name="descricao" placeholder="Descrição da Tarefa">
                <button type="submit">Adicionar</button>
            </form>
        </div>
    </div>
</body>
</html>